@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix("resource://stylrrr2/data")
{
	html
	{
		width: 460px;
		height: 700px;
	}
	body
	{
		color: #0FF;
		background-color: #044;
	}
	#title
	{
		display: none;
	}
	select,
	input[type="text"],
	textarea
	{
		color: #8FF;
		background-color: #066;
		border: 1px solid black;
	}
	#nameBox1, #nameBox2,
	#urlbox1, #urlbox2
	{
		width: 120px;
	}
	button
	{
		color: white;
		background-color: #222;
		border-radius: 1em;
		border: 1px solid black;
	}
	#enabled1
	{
		margin: 2px -2px 2px 6px;
	}
	label[for="enabled1"]
	{
		font-size: 0px;
	}
	label[for="enabled1"]:before
	{
		font-size: 12px;
		content: "On / Off";
		color: silver;
		font-weight: bold;
	}
	#openFolder1
	{
		display: none;
	}
	#error2
	{
		animation: blink 1s step-end infinite;
	}
	@keyframes blink
	{
		from, to { color: red; }
		50% { color: #044; }
	}
}
